*__pycache__*
*.pyc
bash.sh
!data/geom/README.md
*.log
*wandb*
*.DS_Store*
qm9/temp/*
kohler/qm9/temp/*
push.sj
bash_qm9.sh
outputs/*
bash_dw4.sh
bash_qm9pos.sh
bash_qm9_analyze.sh
qm9.sh
dist/
qm9/property_prediction/outputs/*
qm9_conditional.sh
figures/
geom_drugs.sh
wget-log
pyproject.toml
bugged_ids_during_3d_generation.npy
requirements.txt
data/jump/Embeddings_norm.npy
python3.9/*
position_stats_Jump Dataset.png
position_stats_Geom Dataset.png
*.npy
similarity_matrix.png
best_hits_histogram.png
best_hits_histogram_cross.png
best_hits_histogram_jump.png
best_hits_histogram_geom.png
data/jump/raw_data/metadata.parquet
data/*
log/*
